<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <title>Index</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-success navbar-dark" >
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/home/index">Trang chủ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/home/product">Sản phẩm</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/home/contact">Liên hệ</a>
            </li>
        </ul>
    </nav> 
    <div class="container-fluid">
        <div class="p-5 mb-4 bg-light rounded-3">
            <h1>ASP.net MVC</h1>
            <p>HAI HUY</p>
        </div>
    </div>

   
</body>
</html>
